* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

h1, h2, h3, h4 {
    font-family: 'Lora', serif;
    color: #1e1e1e;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.2rem;
}

p, a {
    font-size: 1.1rem;
    line-height: 1.6rem;
    font-family: 'Mukta', sans-serif;
    color: #1e1e1e
}

#main a {
    display: block;
    width: 90px;
    height: 30px;
    padding-top: 6px;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: 300;
    text-align: center;
    color: #eee;
}

/* HOMEPAGE +parent_design */

/* HEADER */

#header {
    position: fixed;
    width: 100%;
    height: 120px;
    background-color: #800E0E;
    z-index: 3;
}

#header-content-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 120px;
    max-width: 1920px;
    margin: 0 auto;
    align-items: center;
    background-image: url(images/header_1920x120.jpg);
    border-bottom: 15px solid #1e1e1e;
}

#logo-container {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo-container #logo {
    width: 80px;
    height: 100px;
    background-image: url(icons/logo_80x100.png);
    background-size: 80px 100px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 120px;
}

#logo-container #title {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

#logo-container #title h1 {
    font-size: 2rem;
    color: #eee;
}

#logo-container #title h2 {
    font-size: 1.6rem;
    color: #eee;
}

#navbar {
    grid-column: 3 / 6;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

#navbar a {
    width: 140px;
    height: 32px;
    text-align: center;
    padding-top: 6px;
    color: #eee;
    border-right: solid 0.5px rgba(170, 170, 170, 0.3);
}

#navbar #menu {
    width: 64px;
    height: 54px;
    margin-right: 120px;
    margin-left: 40px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(icons/menu_36x36.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 36px 36px;
}

/* HEADER -dropdown */

#dropdown {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0;
    width: 20%;
    padding: 40px 0;
    margin-top: 120px;
    border-radius: 4px;
    background-color: rgba(30, 30, 30, 0.95);
    opacity: 0;
    z-index: -1;
}

#dropdown a {
    color: #eee;
    padding: 10px;
    margin: 0 40px;
    border-bottom: solid 0.5px rgba(170, 170, 170, 0.3);
}

#navbar #menu:hover {
    transition: 0.5s;
    width: 70px;
    height: 60px;
    cursor: pointer;
    background-color: rgba(170, 170, 170, 0.3);
}

#navbar a:hover, 
#dropdown a:hover {
    transition: 0.5s;
    font-size: 1.15rem;
    cursor: pointer;
    background-color: rgba(170, 170, 170, 0.3);
}

/* BANNER */

#banner {
    width: 100%;
    height: 900px;
    background-color: #800E0E;
}

#banner-content-wrapper {
    max-width: 1920px;
    height: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/banner_welcome_1920x900.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#banner-greeting {
    width: 80%;
    height: 40%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    opacity: 1;
    z-index: 2;
}

#banner-greeting h1 {
    font-size: 6rem;
    color: #eee;
}

#banner-greeting h2 {
    font-size: 4rem;
    color: #eee;
}

#banner-covenant {
    position: absolute;
    width: 80%;
    max-width: 1140px;
    padding-top: 140px;
    opacity: 0;
    z-index: 1;
}

#banner-covenant p {
    font-family: 'Lora', serif;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 50px;
    color: #eee;
}

#banner-covenant #cov-2 {
    margin-left: 40px;
}

#banner-covenant #cov-3 {
    margin-left: 80px;
}

#banner-covenant #cov-auth {
    float: right;
    margin-top: 40px;
}

/* MAIN */

#main {
    width: 100%;
    height: 2480px;
    background-image: url(images/background_main_1920x2000.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 15px solid #1e1e1e;
}

#main-content-wrapper {
    width: 1140px;
    height: 2480px;
    margin: 0 auto;
}

/* MAIN -intro */

#intro {
    padding-top: 120px;
}

#intro h2 {
    margin-bottom: 40px;
}

#intro p {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.4rem;
    margin: 0 80px 30px 80px;
}

/* MAIN -flyer */

#flyer {
    height: 480px;
    margin-top: 160px;
}

#flyer h2 {
    margin-bottom: 50px;
}

#flyer-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 400px;
    margin-left: 80px;
}

#flyer-container > div {
    display: flex;
    flex-direction: column;
}

#flyer-container > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#flyer-container > div > div > h3 {
    margin-left: 16px;
}

#flyer-container > div > p {
    margin-top: 4px;
    margin-left: 56px;
}

#flyer-container > div > a {
    margin-top: 8px;
    margin-left: 56px;
    background-color: #8a1818;
}

#pntr {
    width: 32px;
    height: 32px;
    background-image: url(images/pntr_32x32.png);
    background-repeat: no-repeat;
    background-position: center;
}

#flyer-container > div > a:hover {
    transition: 0.5s;
    cursor: pointer;
    width: 110px;
    background-color: #D37921;
    border: solid 1px rgba(30, 30, 30, 0.5);
}

/* MAIN -current */

#current {
    height: 1000px;
    padding: 40px;
    margin-top: 150px;
    background-color: #F8EEE5;
    box-shadow: 0 0 20px #aaa;
}

#current > h2 {
    padding-bottom: 20px;
    margin-bottom: 60px;
    border-bottom: solid 2px rgba(27, 27, 27, 0.4);
}

#current-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
}

#current-container #col-1 h3 {
    margin-bottom: 10px;
}

#current-container #col-1 p {
    margin-bottom: 20px;
}

#current-container #col-1 a {
    margin-bottom: 220px;
    background-color: #D37921;
}

#current-container #col-1 a:hover {
    transition: 0.5s;
    cursor: pointer;
    width: 110px;
    background-color: #8a1818;
    border: solid 1px rgba(30, 30, 30, 0.5);
}


#current-container #col-2 #photo-1 {
    width: 500px;
    height: 360px;
    background-image: url(images/photos/40590.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
    margin-bottom: 90px;
}

#current-container #col-2 #photo-2 {
    width: 500px;
    height: 360px;
    background-image: url(images/photos/hatchery_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* sidepages */

.banner_sidepage {
    width: 100%;
    height: 500px;
}

.banner_sidepage-content-wrapper {
    max-width: 1920px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}

.banner_sidepage-content-wrapper h1 {
    margin: 80px 100px;
    color: #eee;
}


/* sidepage - aboutUs*/

#banner_sidepage-aboutUS {
    background-image: url(images/banner-sidepage-aboutUs_1920x500.jpg);
    
}

#main_about {
    width: 100%;
    height: 1500px;
    background-image: url(images/background_main-sidepage_1920x2000.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#main_about-content-wrapper {
    display: grid;
    grid-template-rows: repeat(2, minmax(200px, 700px));
    width: 1140px;
    height: 1500px;
    margin: 0 auto;
}

#elders {
    grid: 1 / 2;
}

#elders #heading {
    margin-top: 80px;
    margin-bottom: 40px;
}

#elders #container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#elders #container #photo {
    width: 173px;
    height: 238px;
}

#elders #louise-abraham #photo{
    background-image: url(images/photos/elders/louise-abraham.png);
}

#elders #mary-david #photo{
    background-image: url(images/photos/elders/mary-david.png);
}

#elders #mathias-david #photo{
    background-image: url(images/photos/elders/mathias-david.png);
}

#elders #amy-trice #photo{
    background-image: url(images/photos/elders/amy-trice.png);
}

#elders #basil-white #photo{
    background-image: url(images/photos/elders/basil-white.png);
}

#elders #container #info {
    margin-top: 8px;
}

#elders #summary p {
    margin-bottom: 40px;
}

#history {
    grid: 2 / 3;
}

#history #heading {
    margin-bottom: 40px;
}

#history #info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

#history #info p {
    margin-bottom: 20px;
}

/* sidepage - gov */

#banner_sidepage-government {
    background-image: url(images/banner-sidepage-government_1920x500.jpg);
}

#main_gov {
    width: 100%;
    height: 1480px;
    background-image: url(images/background_main-sidepage_1920x2000.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#main_gov-content-wrapper {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 1140px;
    height: 1480px;
    margin: 0 auto;
}

#council {
    grid: 1 / 2;
}

#council #heading {
    margin-top: 80px;
    margin-bottom: 40px;
}


#council #photo {
    width: 844px;
    height: 548px;
    margin: 0 auto;
    background-image: url(images/photos/council.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

#council #info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#acctfin {
    grid: 2 / 3;
}

#acctfin #heading {
    margin-top: 60px;
    margin-bottom: 40px;
}


#acctfin #info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}


#leglaw {
    grid: 3 / 4;
}

#leglaw #heading {
    margin-top: 40px;
    margin-bottom: 40px;
}


#leglaw #info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}


/* sidepage - fish */

#banner_sidepage-fish {
    background-image: url(images/banner-sidepage-fish_1920x500.jpg);
}

#main_fish {
    width: 100%;
    height: 3200px;
    background-image: url(images/background_main-sidepage_1920x3200.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#main_fish-content-wrapper {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 1140px;
    height: 3200px;
    margin: 0 auto;
}

#history_fish {
    grid-row: 1 / 2;
}

#history_fish #heading {
    margin-top: 80px;
    margin-bottom: 40px;
}

#history_fish #info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}


#projects {
    grid-row: 2 / 3;
    margin-top: -320px;
}

#projects #heading {
    margin-bottom: 40px;
}

#projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 40px;
}

#projects-container div h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#photo-gallery h2 {
    margin-bottom: 40px;
}

#photo-gallery {
    grid-row: 3 / 4;
    margin-top: -180px;
    display: flex;
    flex-direction: column;
}

#photo-gallery > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 360px;
    margin-bottom: 50px;
}

#photo-gallery > div > div {
    height: 360px;
    background-repeat: no-repeat;
    background-position: center;
}

#photo-gallery #photo-1 {
    width: 620px;
    background-image: url(images/photos/hatchery_1.jpg);
}

#photo-gallery #photo-2 {
    width: 480px;
    background-image: url(images/photos/hatchery_2.jpg);
}

#photo-gallery #photo-3 {
    width: 480px;
    background-image: url(images/photos/hatchery_3.jpg);
}

#photo-gallery #photo-4 {
    width: 620px;
    background-image: url(images/photos/hatchery_4.jpg);
}

#photo-gallery #photo-5 {
    width: 1140px;
    background-image: url(images/photos/landscape_1.JPG);
}


#photo-gallery #photo-6 {
    width: 550px;
    background-image: url(images/photos/landscape_2.jpg);
}


#photo-gallery #photo-7 {
    width: 550px;
    background-image: url(images/photos/landscape_3.jpg);
}

#photo-gallery #photo-1:hover {
    transition: width 1s;
    transform: height 10s;
    width: 640px;
    height: 390px;
    box-shadow: 0 0 40px #aaa;
}

#photo-gallery #photo-2:hover {
    transition: width 1s;
    transform: height 3s;
    width: 500px;
    height: 390px;
    box-shadow: 0 0 40px #aaa;
}

#photo-gallery #photo-3:hover {
    transition: width 1s;
    transform: height 3s;
    width: 500px;
    height: 390px;
    box-shadow: 0 0 40px #aaa;
}

#photo-gallery #photo-4:hover {
    transition: width 1s;
    transform: height 10s;
    width: 640px;
    height: 390px;
    box-shadow: 0 0 40px #aaa;
}

#photo-gallery #photo-5:hover {
    transition: height 1s;
    height: 390px;
    box-shadow: 0 0 40px #aaa;
}

#photo-gallery #photo-6:hover {
    transition: width 10s;
    transition: height 1s;
    width: 570px;
    height: 390px;
    box-shadow: 0 0 40px #aaa;
}

#photo-gallery #photo-7:hover {
    transition: width 10s;
    transition: height 1s;
    width: 570px;
    height: 390px;
    box-shadow: 0 0 40px #aaa;
}

/* sidepage - enteprise */

#banner_sidepage-enterprise {
    background-image: url(images/banner-sidepage-enterprise_1920x500.jpg);
}

#main_enterprise {
    width: 100%;
    height: 1400px;
    background-image: url(images/background_main-sidepage_1920x2000.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#main_enterprise-content-wrapper {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    width: 1140px;
    height: 1400px;
    margin: 0 auto;
}

#inn {
    grid: 1 / 2;
}

#inn #heading {
    margin-top: 80px;
    margin-bottom: 40px;
}

#inn #inn-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

#inn #inn-content #photo {
    background-image: url(images/photos/40590.jpg);
    background-repeat: no-repeat;
}

#inn #inn-content p {
    margin-bottom: 20px;
}

#inn #inn-content #contact p {
    margin-bottom: 0px;
}

#inn #inn-content #contact a {
    text-decoration: underline;
    color: #D37921;
}

#resort {
    grid: 2 / 3;
}

#resort #heading {
    margin-top: 40px;
    margin-bottom: 40px;
}

#resort #resort-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

#resort #resort-content #photo{
    width: 640px;
    height: 420px;
    background-image: url(images/photos/cropped-trcr800x600.jpg);
    background-repeat: no-repeat;
}

#resort #resort-content p {
    margin-bottom: 20px;
}

#resort #resort-content #contact p {
    margin-bottom: 0px;
}

#resort #resort-content #contact a {
    text-decoration: underline;
    color: #D37921;
}



/* sidepage - contact */

#banner_sidepage-contact {
    background-image: url(images/banner-sidepage-contact_1920x500.jpg);
}

#main_contact {
    width: 100%;
    height: 600px;
    background-image: url(images/background_main-sidepage_1920x2000.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#main_contact-content-wrapper {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    width: 1140px;
    height: 600px;
    margin: 0 auto;
}

#general-info h2 {
    margin-top: 80px;
    margin-bottom: 40px;
}

#general-info #headquarter h4 {
    width: 120px;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(30, 30, 30, 0.6);
}

#general-info #headquarter #hours {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#general-info #headquarter #hours #col-1 {
    margin-right: 10px;
}

#general-info #headquarter #hours #col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}

/* FOOTER */

#footer {
    width: 100%;
    height: 160px;
    background-color: #1e1e1e;
}

#footer-content-wrapper {
    max-width: 1920px;
    height: 160px;
    margin: 0 auto;
    background-image: url(images/footer_1920x200.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#footer-content {
    width: 100%;
    height: 160px;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#footer-content p {
    color: #ac5600;
}

#footer-content a {
    color: #eee
}


/* @MEDIA */

@media only screen and (max-width: 1140px) {
    
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    h4 {
        font-size: 1.1rem;
    }

    #header-content-wrapper{
        max-width: 1140px;
    }

    #logo-container {
        grid-column: 1 / 4;
    }

    #logo-container #logo {
        background-size: 70px 88px;
    }

    #logo-container #title h1 {
        font-size: 1.6rem;
    }

    #logo-container #title h2 {
        font-size: 1.3rem;
    }

    #navbar {
        grid-column: 4 / 6;
    }

    #navbar a {
        display: none;
    }

    #dropdown {
        width: 30%;
    }

    #banner-content-wrapper {
        max-width: 1140px;
    }

    #banner-greeting h1 {
        font-size: 4rem;
    }

    #banner-greeting h2 {
        font-size: 2.6rem;
    }

    #banner-covenant p {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    #main {
        background-image: url(images/background_main_1140x2580_ipad.jpg);
    }

    #main-content-wrapper {
        width: 900px;
    }

    #intro {
        padding-top: 60px;
    }

    #flyer {
        margin-top: 120px;
    }

    #current-container #col-1 a {
        margin-bottom: 100px;
    }


    .banner_sidepage-content-wrapper {
        max-width: 1140px;
    }


    /* About */ 

    #main_about-content-wrapper {
        width: 900px;
    }

    #elders #heading {
        margin-top: 60px;
        margin-bottom: 20px;
    }

    #history #heading {
        margin-bottom: 20px;
    }


    /* Gov */

    #main_gov-content-wrapper {
        width: 900px;
    }
    
    #council #heading {
        margin-top: 60px;
        margin-bottom: 20px;
    }

    #council #photo {
        background-size: 780px 506px
    }

    #council #info {
        margin-top: -20px;
    }

    #acctfin #heading {
        margin-bottom: 20px;
    }

    #leglaw #heading {
        margin-bottom: 20px;
    }


    /* Fish */

    #main_fish-content-wrapper {
        width: 900px;
    }

    #history_fish #heading {
        margin-top: 60px;
        margin-bottom: 20px;
    }

    #projects {
        margin-top: 20px;
    }

    #projects-container {
        row-gap: 30px;
    }

    #projects #heading {
        margin-bottom: 30px;
    }

    #photo-gallery {
        margin-top: 40px;
    }

    #photo-gallery h2 {
        margin-bottom: 20px;
    }

    #photo-gallery > div {
        margin-bottom: 40px;
    }

    #photo-gallery #photo-1 {
        width: 480px;
    }
    
    #photo-gallery #photo-2 {
        width: 380px;
    }

    #photo-gallery #photo-3 {
        width: 380px;
    }
    
    #photo-gallery #photo-4 {
        width: 480px;
    }

    #photo-gallery #photo-5 {
        width: 900px;
    }
    
    #photo-gallery #photo-6 {
        width: 430px;
    }

    #photo-gallery #photo-7 {
        width: 430px;
    }

    #photo-gallery #photo-1:hover {
        transition: width 1s;
        transform: height 10s;
        width: 500px;
        height: 390px;
        box-shadow: 0 0 40px #aaa;
    }
    
    #photo-gallery #photo-2:hover {
        transition: width 1s;
        transform: height 3s;
        width: 400px;
        height: 390px;
        box-shadow: 0 0 40px #aaa;
    }
    
    #photo-gallery #photo-3:hover {
        transition: width 1s;
        transform: height 3s;
        width: 400px;
        height: 390px;
        box-shadow: 0 0 40px #aaa;
    }
    
    #photo-gallery #photo-4:hover {
        transition: width 1s;
        transform: height 10s;
        width: 500px;
        height: 390px;
        box-shadow: 0 0 40px #aaa;
    }
    
    #photo-gallery #photo-5:hover {
        transition: height 1s;
        height: 390px;
        box-shadow: 0 0 40px #aaa;
    }
    
    #photo-gallery #photo-6:hover {
        transition: width 10s;
        transition: height 1s;
        width: 450px;
        height: 390px;
        box-shadow: 0 0 40px #aaa;
    }
    
    #photo-gallery #photo-7:hover {
        transition: width 10s;
        transition: height 1s;
        width: 450px;
        height: 390px;
        box-shadow: 0 0 40px #aaa;
    }


    /* Fish */

    #main_enterprise-content-wrapper {
        width: 900px;
    }

    #inn #heading {
        margin-top: 60px;
        margin-bottom: 20px;
    }

    #inn #inn-content {
        grid-gap: 30px;
    }

    #resort #heading {
        margin-bottom: 20px;
    }

    #resort #resort-content #photo {    
        width: 540px;
    }


    /* Contact */

    #main_contact-content-wrapper {
        width: 900px;
    }

    #general-info h2 {
        margin-top: 60px;
        margin-bottom: 20px;
    }



    /* Footer */

    #footer-content-wrapper {
        max-width: 1140px;
    }

    #footer-content {
        max-width: 900px;
    }


}


@media only screen and (max-width: 640px) {

    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    h4 {
        font-size: 1.2rem;
    }

    p, a {
        font-size: 1.1rem;
        line-height: 1.3rem;
    }

    #main a {
        display: block;
        width: 80px;
        height: 24px;
        padding-top: 6px;
        border-radius: 4px;
        font-size: 0.8rem;
        font-weight: 300;
        text-align: center;
        color: #eee;
    }


    #header-content-wrapper {
        max-width: 640px;
    }

    #logo-container #logo {
        margin-left: 40px;
    }

    #logo-container #title {
        margin-left: 10px;
    }

    #navbar #menu {
        margin-right: 40px;
    }



    #dropdown {
        width: 40%;
    }


    #banner-content-wrapper {
        max-width: 640px;
    }

    #banner-greeting h1 {
        font-size: 3rem;
    }

    #banner-greeting h2 {
        font-size: 2rem;
    }

    #banner-covenant p {
        font-size: 1.3rem;
        line-height: 1.6rem;
    }

    #main {
        height: 2000px;
        background-image: url(images/background_main_640x2000-mobile.jpg);
    }


    #main-content-wrapper {
        width: 500px;
        height: 2000px;
    }

    #intro {
        padding-top: 40px;
    }

    #intro h2 {
        margin-bottom: 30px;
    }

    #intro p {
        font-size: 1.4rem;
        line-height: 1.8rem;
        margin: 0 50px 20px 50px ;
    }

    #flyer {
        margin-top: 80px;
    }

    #flyer h2{
        margin-bottom: 30px;
    }

    #flyer-container {
       height: 380px;
       margin-left: 30px;
    }

    #flyer-container > div {
        margin-bottom: 20px;
    }

    #flyer-container > div > div > h3 {
        margin-left: 8px;
    }

    #flyer-container > div > p {
        margin-top: 8px;
        margin-left: 34px;
    }

    #flyer-container > div > a {
        margin-top: 12px;
        margin-left: 34px;
    }

    #pntr {
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
        
    }

    #current {
        height: 580px;
        margin-top: 120px;
    }

    #current > h2 {
        margin-bottom: 30px;
    }

    #current-container {
        display: block;
    }

    #current-container #col-1 a {
        margin-bottom: 50px;
        background-color: #D37921;
    }


    #current-container #col-2 {
        display: none;
    }


    .banner_sidepage-content-wrapper {
        max-width: 640px;
    }
    

    .banner_sidepage-content-wrapper h1 {
        margin: 60px 80px;
        color: #eee;
    }


    #main_about {
        height: 2400px;
        background-image: url(images/background_main-sidepage_1920x3200.jpg);
    }

    #main_about-content-wrapper {
        width: 500px;
        height: 2400px;
        margin: 0 auto;
    }

    #elders #container > div{
        margin-bottom: 20px;
    }

    #history {
        margin-top: 620px;
    }
    
    #history #info {
        display: block;
    }



    #elders #heading {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    #elders #container {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }



    #main_gov-content-wrapper {
        width: 500px;
    }

    #council #heading {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    #council #photo {
        width: 500px;
        height: 325px;
        background-size: 500px 325px;
        margin-bottom: 40px;
    }

    #council #info p {
        font-size: 0.95rem;
    }

    #acctfin #heading {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    #acctfin {
        margin-bottom: 0px;
    }

    #acctfin #heading {
        margin-top: 60px;
        margin-bottom: 30px;
    }

    #acctfin #info {
        display: block
    }

    #acctfin #info p {
        margin-bottom: 20px;
    }

    #leglaw #heading {
        margin-top: -20px;
        margin-bottom: 30px;
    }

    #leglaw #info {
        display: block;
    }

    #leglaw #info p {
        margin-bottom: 20px;
    }


    #main_fish {
        height: 4300px;
        background-image: url(images/background_main-sidepage_1920x4800.jpg);
    }

    #main_fish-content-wrapper {
        width: 500px;
    }

    #history_fish #heading {
        margin-top: 50px;
    }

    #history_fish #info {
        display: block;
    }
    
    #history_fish #info p {
        margin-bottom: 20px;
    }

    #projects-container {
        display: block;
    }

    #projects-container div p {
        margin-bottom: 30px
    }
    

    #photo-gallery > div {
        display: block;
        margin: 0 auto;
        height: 360px;
        margin-bottom: 50px;
    }
    
    #photo-gallery > div > div {
        margin-bottom: 50px;
    }

    #photo-gallery #photo-1 {
        width: 480px;
    }
    
    #photo-gallery #photo-2 {
        width: 480px;
        display: none;
    }
    
    #photo-gallery #photo-3 {
        width: 480px;
    }
    
    #photo-gallery #photo-4 {
        width: 480px;
        display: none;
    }
    
    #photo-gallery #photo-5 {
        width: 480px;
    }
    
    #photo-gallery #photo-6 {
        width: 480px;
    }
    
    #photo-gallery #photo-7 {
        width: 480px;
    }

    #photo-gallery #photo-1:hover {
        width: 500px;
        height: 400px;
    }
    
    #photo-gallery #photo-2:hover {
        width: 500px;
        height: 400px;
    }
    
    #photo-gallery #photo-3:hover {
        width: 500px;
        height: 400px;
    }
    
    #photo-gallery #photo-4:hover {
        width: 500px;
        height: 400px;
    }
    
    #photo-gallery #photo-5:hover {
        width: 500px;
        height: 400px;
    }
    
    #photo-gallery #photo-6:hover {
        width: 500px;
        height: 400px;;
    }
    
    #photo-gallery #photo-7:hover {
        width: 500px;
        height: 400px;
    }




    #main_enterprise {
        height: 1800px;
    }

    #main_enterprise-content-wrapper {
        width: 500px;
        height: 1800px;
    }

    #inn #inn-content {
        display: flex;
        flex-direction: column;
    }

    #inn #inn-content p {
        margin-bottom: 20px;
    }

    #inn #inn-content #photo {
        width: 500px;
        height: 340px;
    }

    #inn #inn-content #contact {
        margin-top: 30px;
    }
    
    #resort #heading {
        margin-top: 60px;
    }

    #resort #resort-content {
        display: flex;
        flex-direction: column;
    }

    #resort #resort-content #photo{
        width: 500px;
        height: 340px;
        margin-top: -30px;
    }

    #resort #resort-content #contact {
        margin-top: 30px;
        margin-bottom: 20px;

    }

    #main_contact-content-wrapper {
        width: 500px;
    }

    #general-info h2 {
        margin-top: 50px;
        margin-bottom: 30px;
    }



    #footer-content-wrapper {
        max-width: 640px;
    }

    #footer-content {
        max-width: 500px;
    }
}




@media only screen and (max-width: 420px) {

    h1 {
        font-size: 2.4rem;
    }
    
    h2 {
        font-size: 1.8rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    h4 {
        font-size: 1.2rem;
    }

    p, a {
        font-size: 1.1rem;
        line-height: 1.3rem;
    }

    #main a {
        display: block;
        width: 80px;
        height: 24px;
        padding-top: 6px;
        border-radius: 4px;
        font-size: 0.8rem;
        font-weight: 300;
        text-align: center;
        color: #eee;
    }


    #header-content-wrapper {
        max-width: 420px;
    }

    #logo-container #logo {
        margin-left: 40px;
    }

    #logo-container #title {
        margin-left: 10px;
    }

    #navbar #menu {
        margin-right: 40px;
    }



    #dropdown {
        width: 60%;
    }


    #banner-content-wrapper {
        max-width: 420px;
    }

    #banner-greeting h1 {
        font-size: 2.2rem;
    }

    #banner-greeting h2 {
        font-size: 1.6rem;
    }

    #banner-covenant p {
        font-size: 1.3rem;
        line-height: 1.6rem;
    }

    #main {
        height: 2300px;
        background-image: url(images/background_main_420x2300-mobile.jpg);
    }


    #main-content-wrapper {
        width: 380px;
        height: 2300px;
    }

    #intro {
        padding-top: 40px;
    }

    #intro h2 {
        margin-left: 20px;
        margin-bottom: 30px;
    }

    #intro p {
        font-size: 1.4rem;
        line-height: 1.8rem;
        margin: 0 50px 20px 50px ;
    }

    #flyer {
        margin-top: 80px;
    }

    #flyer h2{
        margin-left: 20px;
        margin-bottom: 30px;
    }

    #flyer-container {
       height: 380px;
       margin-left: 30px;
    }

    #flyer-container > div {
        margin-bottom: 20px;
    }

    #flyer-container > div > div > h3 {
        margin-left: 8px;
    }

    #flyer-container > div > p {
        margin-top: 8px;
        margin-left: 34px;
    }

    #flyer-container > div > a {
        margin-top: 12px;
        margin-left: 34px;
    }

    #pntr {
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
        
    }

    #current {
        height: 660px;
        margin-top: 160px;
    }

    #current > h2 {
        margin-bottom: 30px;
    }

    #current-container {
        display: block;
    }

    #current-container #col-1 a {
        margin-bottom: 50px;
        background-color: #D37921;
    }


    #current-container #col-2 {
        display: none;
    }


    .banner_sidepage-content-wrapper {
        max-width: 420px;
    }
    

    .banner_sidepage-content-wrapper h1 {
        margin: 60px 80px;
        color: #eee;
    }






    #main_about {
        height: 2800px;
        background-image: url(images/background_main-sidepage_1920x3200.jpg);
    }

    #main_about-content-wrapper {
        width: 360px;
        height: 2800px;
        margin: 0 auto;
    }

    #elders #container > div{
        margin-bottom: 20px;
    }

    #history {
        margin-top: 680px;
    }
    
    #history #info {
        display: block;
    }



    #elders #heading {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    #elders #container {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }



    #main_gov-content-wrapper {
        width: 360px;
    }

    #council #heading {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    #council #photo {
        width: 340px;
        height: 221px;
        background-size: 340px 221px;
        margin-bottom: 40px;
    }

    #council #info p {
        font-size: 0.95rem;
    }

    #acctfin #heading {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    #acctfin {
        margin-bottom: 0px;
    }

    #acctfin #heading {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    #acctfin #info {
        display: block
    }

    #acctfin #info p {
        margin-bottom: 20px;
    }

    #leglaw #heading {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    #leglaw #info {
        display: block;
    }

    #leglaw #info p {
        margin-bottom: 20px;
    }




    #main_fish {
        height: 4700px;
        background-image: url(images/background_main-sidepage_1920x4800.jpg);
    }

    #main_fish-content-wrapper {
        width: 360px;
    }

    #history_fish #heading {
        margin-top: 30px;
    }

    #history_fish #info {
        display: block;
    }
    
    #history_fish #info p {
        margin-bottom: 20px;
    }

    #projects-container {
        display: block;
    }

    #projects-container div p {
        margin-bottom: 30px
    }
    
    #photo-gallery h2 {
        margin-top: -30px;
    }

    #photo-gallery > div {
        display: block;
        margin: 0 auto;
        height: 360px;
        margin-bottom: 50px;
    }
    
    #photo-gallery > div {
        margin-bottom: 10px;
    }

    #photo-gallery > div > div {
        margin-bottom: 10px;
    }

    #photo-gallery #photo-1 {
        width: 360px;
    }
    
    #photo-gallery #photo-2 {
        width: 360px;
        display: none;
    }
    
    #photo-gallery #photo-3 {
        width: 360px;
    }
    
    #photo-gallery #photo-4 {
        width: 360px;
        display: none;
    }
    
    #photo-gallery #photo-5 {
        width: 360px;
    }
    
    #photo-gallery #photo-6 {
        width: 360px;
    }
    
    #photo-gallery #photo-7 {
        width: 360px;
    }




    #main_enterprise {
        height: 2000px;
    }

    #main_enterprise-content-wrapper {
        width: 360px;
        height: 2000px;
    }

    #inn #inn-content {
        display: flex;
        flex-direction: column;
    }

    #inn #inn-content p {
        margin-bottom: 20px;
    }

    #inn #inn-content #photo {
        width: 360px;
        height: 300px;
        background-position: center;
    }

    #inn #inn-content #contact {
        margin-top: 30px;
    }
    
    #resort #heading {
        margin-top: 60px;
    }

    #resort #resort-content {
        display: flex;
        flex-direction: column;
    }

    #resort #resort-content #photo{
        width: 360px;
        height: 300px;
        margin-top: -30px;
    }

    #resort #resort-content #contact {
        margin-top: 30px;
        margin-bottom: 20px;

    }





    #main_contact-content-wrapper {
        width: 340px;
    }

    #general-info h2 {
        margin-top: 50px;
        margin-bottom: 30px;
    }



    #footer-content-wrapper {
        max-width: 420px;
    }

    #footer-content {
        max-width: 360px;
    }
}